{% extends 'layout.html' %}
{% block content %}
<h1 class= "display-2">
  <a class="logo" href="{{url_for('browse')}}">Browse Movies</a>
</h1>
<div class="row">
<div class="col-3">
</div>
<div class="col text-justify lead">
  <p>Welcome to the Browse page. Here you may peruse our movie database and
    rate movies that you have watched. The slider operates on a 0.5 - 5.0 point scale with
    0.5 steps. The further to the right, the closer to a score of 5. Please make sure to press
    submit once you are happy with the score you have selected for the given film. <strong>Enjoy!</strong>
  </p>
</div>
<div class="col-3">
</div>
</div>
<div class="row">
  <div class="col-3">
  </div>
  <div id = "loading-message" class="col alert alert-warning alert-dismissible fade show">
    Please wait while we load our database...
  </div>
  <div class="col-3">
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col">
    <table id = "browse-table" class='table collapse display'>
      <thead class = "table-dark">
        <tr>
          <th scope='col' class="fit">Movie Title</th>
          <th scope='col' class="fit">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
        <tr>
          <td>{{movie.title}}</td>
          <td class= "fit">
            <form method="POST" action="">
              <input name = "rating_slider" type="range" min="0.5" , max="5" , step="0.5", autocomplete="off">
              <input type="hidden" name="movie_id" value="{{movie.id}}">
              <input class="ml-4 btn btn-outline-primary" type="submit" value="Submit">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-2">
  </div>
</div>
<script type="text/javascript"">
  $(document).ready(function() {
    var table = $('#browse-table')
    table.DataTable();
    var feedback = $('#loading-message');
    feedback.removeClass("alert-warning");
    feedback.addClass("alert-success");
    feedback.html("Thank you for Waiting <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>");
    table.fadeIn(400);
  });
</script>
{% endblock content %}
