{% extends 'layout.html' %}
{% block content %}
<h1>Browse Movies and Rate them</h1>
<div class="row">
  <div class="col-3">
  </div>
  <div id = "loading-message" class="col alert alert-warning alert-dismissible fade show">
    Please wait while we load our database...
  </div>
  <div class="col-3">
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col">
    <table id = "browse-table" class='table collapse display'>
      <thead class = "table-dark">
        <tr>
          <th scope='col' class="fit">Movie Title</th>
          <th scope='col' class="fit">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
        <tr>
          <td>{{movie.title}}</td>
          <td class= "fit">
            <form method="POST" action="">
              <input name = "rating_slider" type="range" min="0.5" , max="5" , step="0.5", autocomplete="off">
              <input type="hidden" name="movie_id" value="{{movie.id}}">
              <input class="ml-4 btn btn-outline-primary" type="submit" value="Submit">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-2">
  </div>
</div>
{% endblock content %}
