{% extends 'layout.html' %}
{% block content %}
<div class=row>
  <div class="col-5">
  </div>
  <div class="col">
    <form action="" method="POST">
      <!-- necessary for CSRF token -->
      {{ form.hidden_tag()}}
      <fieldset class="form-group">
        <legend class='mb-4'>Log In!</legend>
        <div class="form-group">
          <!-- prints out email label -->
          {{ form.email.label(class="form-control-label")}}
          <!-- catch errors -->
          {% if form.email.errors %} <!-- if there are any -->
            <!-- highlights where the error is -->
            {{ form.email(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
              <!-- prints out all the errors -->
              {% for error in form.email.errors %}
               <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} <!-- if there are no errors -->
            <!-- provides actual email field entry -->
            {{ form.email(class="form-control form-control-lg")}}
          {% endif %}
        </div>
        <div class="form-group">
          <!-- prints out password label -->
          {{ form.password.label(class="form-control-label")}}
          <!-- catch errors -->
          {% if form.password.errors %} <!-- if there are any -->
            <!-- highlights where the error is -->
            {{ form.password(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
              <!-- prints out all the errors -->
              {% for error in form.password.errors %}
               <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} <!-- if there are no errors -->
            <!-- provides actual password field entry -->
            {{ form.password(class="form-control form-control-lg")}}
          {% endif %}
        </div>
        <div class="form-check">
          {{form.remember(class="form-check-input")}}
          {{form.remember.label(class="form-check-label")}}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-primary")}}
      </div>
    </form>
  </div>
  <div class="col-5">
  </div>

</div>
<div class="row">
  <div class="col-12 text-center">
    <small class='text-muted'>
      Need an Account?
      <a class="ml-2" href="{{url_for('register')}}">Sign Up Now</a>
    </small>
  </div>
</div>
{% endblock content %}
