body {
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

main {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bg-mustard {
  background-color: #ffdb58;
}

.bg-tomato {
  background-color: #d0513a;
}

.form-control:focus {
  border-color: #d0513a;
  box-shadow: inset 1px 1px 1px #d0513a, 1px 1px 8px #d0513a;
}

.btn-outline-primary {
  border-color: #d0513a;
  color: #d0513a
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus{
  background-color: #d0513a;
  border-color: #d0513a;
}

a, a:hover {
  color: inherit;
  outline: none;
}

a:hover{
  text-decoration: underline;
}

 a.logo:hover{
  text-decoration: none
}

.labeled-button p {
  padding-top: 10px;
  opacity: 0;
  transition-duration: 1000ms;
}

.labeled-button:hover p {
  opacity: 1;
  transition-duration: 1000ms;
}

i {
  font-size: 10vmax;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffdb58;
}

.logo {
  font-family: 'Megrim', cursive;
}

.navbar-brand {
  font-weight: bold;
}

.logo:hover, i:hover {
  text-shadow: 2px 2px 2px #ff0000;
  transition-duration: 250ms;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.jumbotron {
  background-color: inherit;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
