body {
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-mustard {
  background-color: #ffdb58;
}

.bg-tomato {
  background-color: #d0513a;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffdb58;
}

.navbar-brand, .logo {
  font-family: 'Megrim', cursive;
  font-weight: bold;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
